
@{
    ViewData["Title"] = "Cổng thông tin điện tử - Ban đối ngoại Trung Ương";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="mainContent">

</div>
<script src="~/js/Index.js"></script>

