<div class="row">
    <div class="col-md-12">
        <div id="frmCreate">
            <div class="form-group row">
                <label required class="col-form-label col-sm-2" for="txtName">Tên tác giả</label>
                <input type="text" required name="name" class="form-control col-sm-8" id="txtName">
            </div>
            <div class="form-group row">
                <label required class="col-form-label col-sm-2" for="cbParentId">Cơ quan</label>
                <select required id="drNewsSources" class="form-control col-sm-8">
                    <option>--------</option>
                    @{
                        var listNewsSources = ViewData["listNewsSources"] as List<APP.CMS.Models.LookupModels>;
                        foreach (var item in listNewsSources)
                        {
                            <option value="@item.Value">@item.Title</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-2" for="txtNote">Ghi chú</label>
                <input type="text" name="note" class="form-control col-sm-8" id="txtNote">
            </div>
            <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="ckStatus">
                        <label class="form-check-label">Trạng thái</label>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="~/dist/js/Author/Create_Update.js"></script>
<script src="~/dist/js/Author/Index.js"></script>
<script>
    $(document).ready(function () {
        addRequired($('#frmCreate'));
    })
    $('#modal-form').find('#btnSave').off("click").on('click', function (e) {
        e.preventDefault();
        create.create();
    })
</script>