
<div class="container">
    <!--Start-FooterTop-->
    <div class="footer-top" id="footerTop">
       
    </div>
    <!-- /.footer-top -->

    <div class="footer-bottom" id="footerBot">

    </div><!-- /.footer-bottom -->
</div>
<script src="~/js/Footer.js"></script>

