@using APP.UTILS
<div id="frmCreate" class="form-horizontal">
    <div class="form-group">
        <div class="row">
            <label class="col-sm-2" required>Từ tháng</label>
            <div class="col-sm-3">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="far fa-calendar-alt"></i>
                            </span>
                        </div>
                        <input type="text" autocomplete="off" required placeholder="Tháng" class="form-control float-right datepicker" id="dtFromDate">
                    </div>
                </div>
            </div>
        </div>
    </div>
     <div class="form-group">
        <div class="row">
            <label class="col-sm-2" required>Đến tháng</label>
            <div class="col-sm-3">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="far fa-calendar-alt"></i>
                            </span>
                        </div>
                        <input type="text" autocomplete="off" required placeholder="Tháng" class="form-control float-right datepicker" id="dtToDate">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <label required class="col-sm-2">Giá</label>
            <div class="col-sm-4">
                <input type="number" required step="any" min="0" class="form-control" id="txtGia">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            @{
                if ((int)ViewData[nameof(RolesEnum.Approval)] == 1)
                {
                    <label for="ckbStatus" class="col-sm-2">Trạng thái</label>
                    <div class="col-sm-4">
                        <input id="ckbStatus" type="checkbox" class="custom-control">
                    </div>
                }
                else
                {
                    <label for="ckbStatus" class="col-sm-2">Trạng thái</label>
                    <div class="col-sm-4">
                        <input id="ckbStatus" type="checkbox" disabled class="custom-control">
                    </div>
                }
            }

        </div>
    </div>
</div>
<script>
    var frmCreate = $('#frmCreate');
    $(document).ready(function () {
        addRequired(frmCreate);
        setDatetimeForNhuanButCreate();
    });
    $('#modal-form').find('#btnSave').off("click").on('click', function (e) {
        e.preventDefault();
        create();
    });
    function create() {
        if (ValidateForm(frmCreate)) {
            return;
        }
        if ((frmCreate.find('#txtGia').val() % 1) > 0) {
            showAlert('Giá phải là số nguyên dương')
            return false;
        }
        var dateStringFromDate = $('#frmCreate').find('#dtFromDate').val().replaceAll('/', '-');
        var dateStringToDate = $('#frmCreate').find('#dtToDate').val().replaceAll('/', '-');  
        $.ajax({
            url: urlDomain + "/create-or-update",
            method: "POST",
            data: {
                FromMonth: moment(convertToDateTimeForThongKe(dateStringFromDate)).format('YYYY-MM-DD'),
                ToMonth: moment(convertToDateTimeForThongKe(dateStringToDate)).format('YYYY-MM-DD'),
                Value: $('#frmCreate').find('#txtGia').val(),
                Status: $('#frmCreate').find('#ckbStatus').prop("checked") ? 1 : 0
            }
            , success: function (response) {
                hideLoading()
                if (response.result) {
                    // datasource = response.data
                    showAlert(response.message, 2)
                    getData()
                    hideContentModal()
                } else {
                    showAlert(response.message)
                }
            }
        });

    }
</script>
